* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', '苹方', sans-serif;
}

body {
    background: #bec3ce;
    /* max-width: 790px; */
}

a {
    text-decoration: none;
}

img,
button {
    border: 0;
}
